/*maps*/
.btn--instagram {
  background-color: black; }

.btn--facebook {
  background-color: green; }

.estilo4 {
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  font-family: "arial"; }

.icon {
  background-color: black; }

footer ul {
  margin-top: 3rem;
  gap: 2rem; }
  footer ul img {
    height: 20px; }

footer li {
  list-style-type: none; }

footer .footer_list_items {
  display: flex;
  gap: 10rem; }

footer .icon_size, footer .icon {
  height: 20px;
  margin-top: 3rem; }

.td_calendar {
  font-weight: lighter;
  float: left;
  background-color: whitesmoke;
  border-radius: 5px;
  font-weight: lighter;
  height: 111px;
  width: 60px;
  border: 1px solid black; }
