$borders: 1px solid black;
$iconheight:  40px;
$background-color: whitesmoke;

/*maps*/
$redes: (
    instagram: black, 
    facebook: green
    );
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color:$color;
    }
}

$estilos:(
    color: $background-color,
    centro:center,
    fuente: 24px,
    
);

$estilos2: (
    fuente: "arial"
);

.estilo4 {
    color: map-get($estilos,color);
    text-align: map-get($estilos,centro);
    font-size: map-get($estilos,fuente);
    font-family: map-get($estilos2,fuente);
}

.icon {
    @extend .icon_size;
    background-color: black;
}