@import "_variables.scss";

footer {
    ul{
        margin-top: 3rem;
        gap: 2rem;
        img {
            height: $iconheight/2;
        }
    }
    li {
        list-style-type: none;
    }
    .footer_list_items {
        display: flex;
        gap: 10rem;   
    }
    .icon_size {
        height: 20px;
        margin-top: 3rem;
    }
}


.td_calendar {
    font-weight: lighter;
    float: left;
    background-color: $background-color;
    border-radius: 5px;
    font-weight: lighter;
    height: 111px;
    width: 60px;
    border: $borders;
}

